/AbstractSMSSender.java
/IsAliveFromSMSSender.java
/LastMessageFromSMSSender.java
/LastTrustedMessageFromSMSSender.java
/QuestionAnswerFromSMSSender.java
/QuestionAnswerIndices.java
/SafeContactsFromSMSSender.java
/TrustedQuestionAnswerFromSMSSender.java
/TrustedQuestionAnswerIndices.java
