/AbstractMailer.java
/IsAliveFromMailer.java
/LastMessageFromMailer.java
/LastTrustedMessageFromMailer.java
/QuestionAnswerFromMailer.java
/QuestionAnswerIndices.java
/SafeContactsFromMailer.java
/TrustedQuestionAnswerFromMailer.java
/TrustedQuestionAnswerIndices.java
