/AbstractTelephonyGateway.java
/CurrentCallFromTelephonyGateway.java
/IsAliveFromTelephonyGateway.java
/LastMissedCallFromTelephonyGateway.java
/MissedCallsFromTelephonyGateway.java
/RedirectionNumberInFromTelephonyGateway.java
/RedirectionNumberOutFromTelephonyGateway.java
