/AbstractPTZVideoCamera.java
/ImageFromPTZVideoCamera.java
/IsAliveFromPTZVideoCamera.java
/PanAngleFromPTZVideoCamera.java
/TiltAngleFromPTZVideoCamera.java
/VideoFromPTZVideoCamera.java
/ZoomFromPTZVideoCamera.java
